body {
  background: linear-gradient(to bottom, #101e4b, #08142a);
  font-family: 'Segoe UI', sans-serif;
}

.metric-card {
  background: #1f2d5c;
  padding: 15px 20px;
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-width: 120px;
}

.metric-card span {
  font-size: 0.9rem;
  opacity: 0.8;
}

.cluster-card {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
}

.btn-link {
  color: #073170;
  text-decoration: none;
}

.btn-link:hover {
  text-decoration: underline;
}
